body {
  margin: 0;
  background-color: #0a0a0a;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.page-content {
  margin: 0px auto;
  width: 100%;
}